
@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    .bk {
        background-image: url('../../images/11111.jpg');
    }
    #title {
        text-align: center;
        font-size: 80px;
        color: ghostwhite;
        border-color: antiquewhite;
        
    } 
    

</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body class="bk">
    <h1 id="title">
        <strong> Staff Medico</strong>
    </h1>

    <div id="contenedor">
        <div class="imgService">
            <div style="float:left; margin-right:40px; margin-left:10%; background-color:aliceblue;">
                <img src="~/images/doctor_1.png" style="width:100%" />
                <h3><font style="vertical-align: inherit;"><font>DR Adam Billiard</font></font></h3>
                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Especialista del corazón</font></font></p>
            </div>
            <div style="float:left; margin-right:40px;  background-color:aliceblue;">
                <img src="~/images/doctor_2.png" style="width:100%" />
                <h3>DR Jostin Piedra</h3>
                <p>Cirujano Plastico</p>
            </div>
            <div style="float:left; margin-right:40px;  background-color:aliceblue;">
                <img src="~/images/doctor_3.png" style="width:100%" />
                <h3>DR Erick Cevallos</h3>
                <p>Medico General</p>
            </div>
            <div style="float:left; margin-right:40px;  background-color:aliceblue;">
                <img src="~/images/doctor_4.png" style="width:100%" />
                <h3>DR Justin Stuard</h3>
                <p>Ginecologo</p>
            </div>

        </div>
    </div>
</body>
</html>
